body{
    font-family: Montserrat-Bold, helvetica, sans-serif;
    background-image: url(../images/metropolis_background.jpg);
    background-size: cover;
}

#logo{
    margin-top: 30px;
}

h1{
    font-size: 35px;
}

h2{
    font-family: Montserrat, helvetica, sans-serif;
    font-weight:100;
}

p{
    font-family: Montserrat, helvetica, sans-serif;
}

.banner{
    margin: 80px 0px 0px 0px;
    font-family: times;
}

.listing{
    background-color: #ffffff;
    position: relative;
    border:10;
    border-color: black;
    border-radius: 10px;
    align-content: center;
}

.nav{
    background-color: #fff0ff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 30px;
}

.container{
    padding: 10px 20px 0px 30px;
}

.container ul{ 
    margin: 0;
    padding: 20px;
    list-style-type: none; 
}


.container ul li { 
    display: inline; 
}

nav ul{ 
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none; 
    position: fixed;
    min-width: 800px;
    
}

nav ul li { 
    display: inline; 
    padding: 10px;
    
}

nav ul li a { 
    text-decoration: none; 
    /*background-color: #ff0000;*/
    line-height: 70px;
    color: #000000;
}

.search{
    float: right;
    padding: 10px;
    margin-right: 60px;
}

.find_tickets{
    background-color:#f035e9;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #861081;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #390a6f;
    
}


.myButton {
	background-color:#f035e9;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #861081;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #390a6f;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

#search{
    width: 200px;
    height: 50px;
    background: #ffffff;
    border: none;
    font-size: 10pt;
    color: #63717f;
    padding-left: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.clearfix:before, .clearfix:after {
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

body{
    margin: 0px;
}

