body{
    font-family: 'Open Sans', serif;
    
}

#logo{
    margin-top: 30px;
}

h1{
    background-color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
}

h2{
    text-align: center;
    font-family: 'Open Sans', serif;
    color: white;
    font-weight:100;
    background-color: #000000;
    padding: 20px;
}

p{
    font-family: 'Open Sans', serif;
}

nav{
    position: fixed;
    background-color: #ffffff;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 0px;
    z-index: 10;
}

.container{
    position: inherit;
    margin-top: 100px;
}

.container ul{ 
    margin: 0;
    padding: 20px;
    list-style-type: none; 
}


.container ul li { 
    display: inline; 
}


nav ul li { 
    display: inline; 
    padding: 10px;
    
}

nav ul li a { 
    text-decoration: none; 
    color: #000000;
}


.find_tickets{
    background-color:white;
	border:1px solid #861081;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-size:17px;
	padding:10px 20px;
}

article{
    position:relative;
    float: left;
    top: 0;
    left: 0;
}

.banner{
    position: relative;
    background-image: url(../images/onedirection.jpg);
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover;
}

.banner h1{
    position: absolute;
    margin-bottom: 40px;
    bottom: 20%;
}

.banner h2{
    position: absolute;
    bottom: 5%;
}

.col-l{
    float: left;
    padding: 20px;
    background-color: white;
    width: 60%;
}
.col-r{
    padding: 10px;
    float: right;
    width: 33%;
    background-color: #e30606;
}

.col-r li{
    list-style-type: none; 
    color: white;
    margin: 10px;
}


.col-r a{
    color: white;
    margin: 10px;
}



.myButton {
	background-color:#ffffff;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-size:17px;
	padding:10px 20px;
    margin: 10px;
    border:0px;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	top:1px;
}

.search{
    position: fixed;
    background-color: #e30606;
    padding: 10px;
    margin: -30px 0px 0px 0px;
    width: 100%;
    z-index: 5;
}

.search label
{
    padding: 10px;
    color: #ffffff;
}

#searchbox{
    width: 200px;
    height: 40px;
    background: #ffffff;
    border: none;
    font-size: 10pt;
    color: #63717f;
    padding-left: 5px;
}

footer{
    color: black;
    background-color: white;
}

.clearfix:before, .clearfix:after {
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

body{
    margin: 0px;
}
