body{
    font-family: 'Open Sans', serif;
    background-color: rgba(197, 220, 252, 0.38);
    /*background-image: url(../images/snowflake.png)*/
    
}

#logo{
    margin-top: 30px;
}

h1{
    text-align: center;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 45px;
}

h2{
    text-align: center;
    font-family: 'Open Sans', serif;
    font-weight:100;
}

p{
    font-family: 'Open Sans', serif;
}

nav{
    position: fixed;
    background-color: #ffffff;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 0px;
    z-index: 10;
}

.container{
    position: inherit;
    margin-top: 100px;
}

.container ul{ 
    margin: 0;
    padding: 20px;
    list-style-type: none; 
}


.container ul li { 
    display: inline; 
}


nav ul li { 
    display: inline; 
    padding: 10px;
    
}

nav ul li a { 
    text-decoration: none; 
    color: #000000;
}


.find_tickets{
    background-color:#041065;
	border:1px solid #861081;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #390a6f;
    
}

.bannerImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:10px solid #fdfdfd;
    box-shadow: 5px 5px 5px #888888;
}

.col-l{
    background-color: #ffffff;
    padding: 5px;
    margin: 20px;
}

.col-l h3{
    padding-left: 20px;
}

.col-l p{
    padding-left: 20px;
}

article{
      display: inline-block;
}


.col-r li{
    width: 33%;
    float: left;
    background-color: #ffffff;
    padding: 20px;
    margin: 10px;
}

.myButton {
	background-color:#ffffff;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-size:17px;
	padding:10px 20px;
    margin: 10px;
    border:0px;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	top:1px;
}

.search{
    float:  right;
    background-color: #041065;
    padding: 10px;
    margin-top: -22px;
}

.search label
{
    padding: 10px;
    color: #ffffff;
}

#searchbox{
    width: 200px;
    height: 40px;
    background: #ffffff;
    border: none;
    font-size: 10pt;
    color: #63717f;
    padding-left: 5px;
}


.clearfix:before, .clearfix:after {
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

body{
    margin: 0px;
}
